<div class="mt-4 mb-4 container">
    <h3>Cập nhật thông tin Laptop</h3>
    <form class="mt-4" method="POST" action="/admin/laptop/{{laptop.slug}}?_method=PUT" name="create-form">

        <div class="" style="display:flex;">
            <div class="form-group" style="width: 45%;">
                <label for="laptop_name">Tên Laptop</label>
                <input type="text" class="form-control" value="{{laptop.laptop_name}}" id="laptop_name"
                    name="laptop_name">
            </div>
            <div class="form-group ml-4" style="width: 20%;">
                <label for="brand">Hãng</label>
                <input type="text" class="form-control" value="{{laptop.brand}}" id="brand" name="brand">
            </div>
            <div class="form-group ml-4" style="width: 20%;">
                <label for="price">Giá</label>
                <input type="text" class="form-control" value="{{laptop.price}}" id="price" name="price">
            </div>
        </div>

        <div class="" style="display:flex;">
            <div class="form-group " style="width: 20%;">
                <label for="cpu">CPU</label>
                <input type="text" class="form-control" value="{{laptop.cpu}}" id="cpu" name="cpu">
            </div>
            <div class="form-group ml-4" style="width: 20%;">
                <label for="cpu_speed">Tốc độ CPU</label>
                <input type="text" class="form-control" value="{{laptop.cpu_speed}}" id="cpu_speed" name="cpu_speed">
            </div>
        </div>

        <div class="" style="display:flex;">
            <div class="form-group" style="width: 20%;">
                <label for="ram">RAM</label>
                <input type="text" class="form-control" value="{{laptop.ram}}" id="ram" name="ram">
            </div>
            <div class="form-group ml-4" style="width: 20%;">
                <label for="ram_type">Loại RAM</label>
                <input type="text" class="form-control" value="{{laptop.ram_type}}" id="ram_type" name="ram_type">
            </div>
            <div class="form-group ml-4" style="width: 20%;">
                <label for="ram_speed">Tốc độ bus RAM</label>
                <input type="text" class="form-control" value="{{laptop.ram_speed}}" id="ram_speed" name="ram_speed">
            </div>
            <div class="form-group ml-4" style="width: 20%;">
                <label for="ram_max">RAM tối đa</label>
                <input type="text" class="form-control" value="{{laptop.ram_max}}" id="ram_max" name="ram_max">
            </div>
        </div>

        {{!-- --}}
        <div class="" style="display:flex;">
            <div class="form-group" style="width: 20%;">
                <label for="hard_drive">Ổ cứng</label>
                <input type="text" class="form-control" value="{{laptop.hard_drive}}" id="hard_drive" name="hard_drive">
            </div>
            <div class="form-group ml-4 " style="width: 20%;">
                <label for="screen_size">Kích thước màn hình</label>
                <input type="text" class="form-control" value="{{laptop.screen_size}}" id="screen_size"
                    name="screen_size">
            </div>
            <div class="form-group ml-4 " style="width: 20%;">
                <label for="screen_relolution">Độ phân giải màn hình</label>
                <input type="text" class="form-control" value="{{laptop.screen_relolution}}" id="screen_relolution"
                    name="screen_relolution">
            </div>
            <div class="form-group ml-4 " style="width: 20%;">
                <label for="card">Card đồ họa</label>
                <input type="text" class="form-control" value="{{laptop.card}}" id="card" name="card">
            </div>
        </div>

        {{!-- --}}
        <div class="" style="display:flex;">
            <div class="form-group" style="width: 20%;">
                <label for="sound">Công nghệ âm thanh</label>
                <input type="text" class="form-control" value="{{laptop.sound}}" id="sound" name="sound">
            </div>
            <div class="form-group ml-4" style="width: 30%;">
                <label for="connect_port">Cổng kết nối</label>
                <input type="text" class="form-control" value="{{laptop.connect_port}}" id="connect_port"
                    name="connect_port">
            </div>
            <div class="form-group ml-4" style="width: 32.5%;">
                <label for="wireless_connect">Kết nối không dây</label>
                <input type="text" class="form-control" value="{{laptop.wireless_connect}}" id="wireless_connect"
                    name="wireless_connect">
            </div>
        </div>

        {{!-- --}}
        <div class="" style="display:flex;">
            <div class="form-group " style="width: 20%;">
                <label for="model_charge">Model sạc</label>
                <input type="text" class="form-control" value="{{laptop.model_charge}}" id="model_charge"
                    name="model_charge">
            </div>
            <div class="form-group ml-4" style="width: 20%;">
                <label for="pin_type">Loại PIN</label>
                <input type="text" class="form-control" value="{{laptop.pin_type}}" id="pin_type" name="pin_type">
            </div>
            <div class="form-group ml-4 " style="width: 20%;">
                <label for="os">Hệ điều hành</label>
                <input type="text" class="form-control" value="{{laptop.os}}" id="os" name="os">
            </div>
            <div class="form-group ml-4 " style="width: 20%;">
                <label for="weight">Trọng lượng</label>
                <input type="text" class="form-control" value="{{laptop.weight}}" id="weight" name="weight">
            </div>
        </div>

        {{!-- --}}
        <div class="" style="display:flex;">
            <div class="form-group " style="width: 20%;">
                <label for="size">Kích thước</label>
                <input type="text" class="form-control" value="{{laptop.size}}" id="size" name="size">
            </div>

            <div class="form-group ml-4" style="width: 20%;">
                <label for="material">Chất liệu</label>
                <input type="text" class="form-control" value="{{laptop.material}}" id="material" name="material">
            </div>
            <div class="form-group ml-4 " style="width: 20%;">
                <label for="year">Thời điểm ra mắt</label>
                <input type="text" class="form-control" value="{{laptop.year}}" id="year" name="year">
            </div>
        </div>

        <div class="form-group " style="width: 86.5%;">
            <label for="img">Link image</label>
            <input type="text" class="form-control" value="{{laptop.img}}" id="img" name="img">
        </div>
        <button type="submit" class="btn btn-primary mb-4">Cập nhật</button>
    </form>
</div>

<script>
    var create_form = document.forms['create-form'];
    var btn = $('.btn');
    btn.click(function (event) {
        event.preventDefault();
        var laptop_name = $('#laptop_name').val();
        var price = $('#price').val();
        if (!laptop_name) {
            window.alert("Chưa đặt tên laptop");
            return;
        }
        if (!price) $('#price').val(0);
        create_form.submit();
    })
</script>