<link rel="stylesheet" type="text/css" href="/css/admin/datatables.min.css" />
<h3 class="mt-4 ml-3">Danh sách Laptop {{brand}}</h3>
<div class="card-body">
    <table id="example" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Tên Laptop</th>
                <th>Hãng</th>
                <th>Giá</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each laptops}}
            <tr>
                <td>{{sum @index 1}}</td>
                <td>{{this.laptop_name}}</td>
                <td>{{this.brand}}</td>
                <td>{{this.price}}</td>
                <td>
                    <a href="/admin/laptop/detail/{{this.id}}" class="btn btn-link">Xem</a>
                    <a href="/admin/laptop/{{this.slug}}/edit" class="btn btn-link">Sửa</a>
                    <a href="#" class="btn btn-link" data-toggle="modal" data-target="#{{this.slug}}"
                        data-id="{{this.slug}}">Xóa</a>
                </td>
                {{!-- Confirm Delete Laptop --}}
                <div class="modal" id="{{this.slug}}" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Xóa laptop này?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Bạn chắc chắn muốn xóa laptop này?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
                                <button onclick="window.location.href = '/admin/laptop/delete/{{this.slug}}' " id="btn-delete-laptop" type="button" class="btn btn-primary">Xóa bỏ</button>
                            </div>
                        </div>
                    </div>
                </div>

            </tr>
            {{else}}
            <tr>
                <td colspan="6" class="text-center">
                    Chưa có sản phẩm nào.
                    <a href="/admin/laptop/create">Thêm</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
