<div class="mt-4 container">
    <div class="">
        <h3>Thùng rác</h3>
        <a href="/admin/laptop">Danh sách Laptop</a>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên laptop</th>
                <th scope="col">Hãng</th>
                <th scope="col">Giá</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each laptops}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.laptop_name}}</td>
                <td>{{this.brand}}</td>
                <td>{{this.price}}</td>
                <td>
                    <a href="" class="btn btn-link btn-restore" data-id="{{this.slug}}">Khôi phục</a>
                    <a href="#" class="btn btn-link" data-toggle="modal" data-target="#delete-laptop-modal"
                        data-id="{{this.slug}}">Xóa vĩnh viễn</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Thùng rác trống.
                    <a href="/admin/laptop">Danh sách Laptop</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Confirm Delete Laptop --}}
<div class="modal" id="delete-laptop-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa laptop này?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn xóa laptop này?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
                <button id="btn-delete-laptop" type="button" class="btn btn-primary">Xóa bỏ</button>
            </div>
        </div>
    </div>
</div>

<form method="POST" name="delete-laptop-form"></form>
<form method="POST" name="restore-laptop-form"></form>

<script>
    // Jquery  được gọi sau khi load xong
    document.addEventListener('DOMContentLoaded', function () {
        var laptopId;
        var deleteForm = document.forms['delete-laptop-form'];
        var restoreForm = document.forms['restore-laptop-form'];
        var btnDelete = document.getElementById('btn-delete-laptop');
        var restoreBtn = $('.btn-restore');

        $('#delete-laptop-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            //console.log(id);
            laptopId = id;
        });

        btnDelete.onclick = function () {
            deleteForm.action = '/admin/laptop/' + laptopId + '/force?_method=DELETE';
            deleteForm.submit();
        }

        // restore button click
        restoreBtn.click(function (e) {
            e.preventDefault();
            var laptopId = $(this).data('id');
            restoreForm.action = '/admin/laptop/' + laptopId + '/restore?_method=PATCH';
            restoreForm.submit();
        });
        
    });


</script>