<head>
    <link rel="stylesheet" href="/css/cart.css">
</head>

{{#each messeage}}
<div class="alert alert-primary" role="alert">
    {{this}}
</div>
{{/each}}

<div class="cart">
    <div class="cart-header">
        <a href="/" class="buymore">Mua thêm sản phẩm khác</a>
        <div class="cart-name">Giỏ hàng của bạn</div>
    </div>
    <div class="cart-body">
        {{#each products}}
        <div class="product">
            <div class="group">
                <div class="product-img">
                    <img src="{{this.image}}" alt="photo">
                    <button id="delete" data-toggle="modal" data-target="#delete-laptop-modal" data-id="{{this.id}}"><i
                            class="far fa-times-circle"></i> Xóa </button>
                </div>
                <div class="product-name">
                    <a href="{{this.slug}}"><b>{{this.name}}</b></a>
                </div>
                <div class="product-price">
                    {{this.price}}đ
                </div>
            </div>

            <div class="choosenumber">
                <div class="minus" onclick="window.location='/cart/sub/{{this.id}}'">
                    <i style="background-color: rgb(204, 204, 204);"></i>
                </div>
                <div class="number">{{this.value}}</div>
                <div class="plus" onclick="window.location='/cart/add/{{this.id}}'">
                    <i style="background-color: rgb(40, 138, 214);"></i>
                    <i style="background-color: rgb(40, 138, 214);"></i>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <div class="customer">
        <div class="customer-header">THÔNG TIN KHÁCH HÀNG:</div>
        <div class="gender">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="male" value="option1" checked>
                <label class="form-check-label" for="male">
                    Anh
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="female" value="option2">
                <label class="form-check-label" for="female">
                    Chị
                </label>
            </div>
        </div>
        <div class="name-phone">
            <div class="custom-name">
                <input class="form-control name-phone-form customer-name" type="text" placeholder="Họ Và Tên">
            </div>
            <div class="custom-phone">
                <input class="form-control name-phone-form customer-phone" type="number" placeholder="Số điện thoại">
            </div>
        </div>

        <div class="address">
            <p>CHỌN ĐỊA CHỈ NHẬN HÀNG:</p>
            <div class="address-body">
                <div class="tinh-huyen">
                    <select class="form-control form-tinh" id="tinh">
                        <option>Chọn Tỉnh / Thành phố</option>
                    </select>

                    <select class="form-control form-huyen" id="huyen">
                        <option>Chọn Quận / Huyện</option>
                    </select>
                </div>

                <div class="xa-phuong">
                    <select class="form-control form-xa" id="xa">
                        <option>Chọn Xã / Phường</option>
                    </select>

                    <input class="form-control custom-address" type="text" placeholder="Số nhà, tên đường">
                </div>
            </div>
        </div>

        <input class="form-control more-info" type="text" placeholder="Yêu cầu khác (không bắt buộc)">
    </div>

    <div class="order">
        <div class="price">
            <div class="strong"><b>Tổng tiền:</b> </div>
            <div class="strong total-price"><b>{{total_price}}đ</b> </div>
        </div>
        <button type="submit" id="btn" class="final-total">ĐẶT HÀNG</button>
    </div>
</div>

{{!-- Confirm Delete Laptop --}}
<div class="modal" id="delete-laptop-modal" tabindex="-1"></div>
<form method="POST" name="delete-laptop-form"></form>

{{!-- Confirm Order --}}
<form method="POST" name="confirm-order-form"></form>

{{!-- button delete --}}
<script>
    var deleteForm = document.forms['delete-laptop-form'];
    $('#delete-laptop-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var laptopId = button.data('id');
        deleteForm.action = "/cart/remove/" + laptopId;
        deleteForm.submit();
    });
</script>

{{!-- Tỉnh --}}
<script>
    var tinh = $('#tinh');
    $.ajax({
        type: 'get',
        url: '/search/address/tinh/get',
        dataType: 'json',
        success: function (data) {
            var str = "<option>Chọn Tỉnh / Thành Phố</option>";
            for (let q = 0; q < data.add.length; q++) {
                let dt = data.add[q];
                str = str + "<option>" + dt['ten_tinh'] + "</option>";
            }
            tinh.html(str);
        }
    });
</script>

{{!-- Tỉnh -> Huyện --}}
<script>
    var tinh = $('#tinh');
    var huyen = $('#huyen');
    var xa = $('#xa');
    tinh.change(function () {
        xa.html("<option>Chọn Xã / Phường</option>");
        huyen.html("<option>Chọn Quận / Huyện</option>");
        var str = "<option>Chọn Quận / Huyện</option>";
        $.ajax({
            type: 'get',
            url: '/search/address/huyen/' + tinh.val(),
            dataType: 'json',
            success: function (data) {
                for (let q = 0; q < data.add.length; q++) {
                    let dt = data.add[q];
                    str = str + "<option>" + dt['ten_huyen'] + "</option>";
                }
                huyen.html(str);
                xa.html("<option>Chọn Xã / Phường</option>");
            }
        });
    });
</script>


{{!-- Tỉnh -> Huyện --}}
<script>
    var huyen = $('#huyen');
    var xa = $('#xa');
    huyen.change(function () {
        xa.html("<option>Chọn Xã / Phường</option>");
        var str = "<option>Chọn Xã / Phường</option>";
        $.ajax({
            type: 'get',
            url: '/search/address/xa/' + huyen.val(),
            dataType: 'json',
            success: function (data) {
                for (let q = 0; q < data.add.length; q++) {
                    let dt = data.add[q];
                    str = str + "<option>" + dt['ten_xa'] + "</option>";
                }
                xa.html(str);
            }
        });
    });
</script>

<input type="text" class="order-hidden" style="display: none;" value="{{order}}">
<div id="total_price" data-price="{{total_price}}" style="display: none;"></div>

<script>
    var btn = $('#btn');
    var customer_name = $('.customer-name');
    var customer_phone = $('.customer-phone');
    var tinh = $('#tinh');
    var huyen = $('#huyen');
    var xa = $('#xa');
    var more_info = $('.more-info');
    var custom_address = $('.custom-address');
    var order_hidden = $('.order-hidden');
    var order_form = document.forms['confirm-order-form'];

    function check(){
        if (xa.val() == 'Chọn Xã / Phường') return false;
        if (huyen.val() == 'Chọn Quận / Huyện') return false;
        if (tinh.val() == 'Chọn Tỉnh / Thành Phố') return false;
        if (customer_name.val() == '') return false;
        if (customer_phone.val() == '') return false;
        if (custom_address.val() == '') return false;
        return true;
    }

    btn.click(function (event) {
        event.preventDefault();
        if (!check()){
            alert("Chưa điền đủ thông tin!");
            return;
        }
        var address = custom_address.val() + ", " + xa.val() + ", " + huyen.val() + ", " + tinh.val();
        order_form.action = "/order/create?&name=" + customer_name.val() + "&phone=" + customer_phone.val() + "&address=" + address + "&more_info=" + more_info.val() + "&products=" + order_hidden.val() + "&total_price=" + $('#total_price').data('price');
        order_form.submit();
    })
</script>