<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/css/home-base.css ">
    <link rel="stylesheet" href="/css/home-main.css ">
    <link rel="stylesheet" href="/css/product.css">
</head>
<img class="img-title" src="/img/dang-mua.png">
<div class="laptopshock">
    <div class="row">
        <div class="grid__column-2-4">
            <div class="card" style="width: 100%; height: 320px;">
                <a href="/laptop/hp-348-g7-i3-8130u-1a0z1pa" class="product-image">
                    <img src="https://cdn.tgdd.vn/Products/Images/44/225549/hp-348-g7-i3-1a0z1pa-1-225549-600x600.jpg" class="card-img-top product-img" alt="...">
                </a>
                <div class="card-body">
                    <a href="/laptops/hp-348-g7-i3-8130u-1a0z1pa">
                        <h5 class="card-title product-name">HP 348 G7 i3 8130U (1A0Z1PA)</h5>
                    </a>
                    <div class="props">
                        <span>RAM 4GB</span>
                        <span>Ổ CỨNG SSD 256GB</span>
                    </div>
                    <div class="price">
                        <strong>11,990,000₫</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid__column-2-4 mt-2">
            <div class="card" style="width: 100%;" onclick="window.location='/laptop/mac-book-air-2020-i3-256gb-mwtl2sa-a'">
                <a class="product-image">
                    <img src="https://cdn.tgdd.vn/Products/Images/44/220174/apple-macbook-air-2020-i3-220174-1-600x600.jpg" class="card-img-top product-img" alt="...">
                </a>
                <div class="card-body">
                    <a>
                        <h5 class="card-title product-name">MacBook Air 2020 i3 256GB (MWTL2SA/A)</h5>
                    </a>

                    <div class="props">
                        <span>RAM 8GB</span>
                        <span>Ổ CỨNG SSD 256GB</span>
                    </div>

                    <div class="price">
                        <strong>28,990,000₫</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid__column-2-4 mt-2">
            <div class="card" style="width: 100%;" onclick="window.location='/laptop/lg-gram-17-i7-1065g7-17z90n-v-ah75a5'">
                <a class="product-image">
                    <img src="https://cdn.tgdd.vn/Products/Images/44/225745/lg-gram-17-i7-17z90n-vah75a5-142120-022156-600x600.jpg" class="card-img-top product-img" alt="...">
                </a>
                <div class="card-body">
                    <a>
                        <h5 class="card-title product-name">LG Gram 17 i7 1065G7 (17Z90N-V.AH75A5)</h5>
                    </a>

                    <div class="props">
                        <span>RAM 8GB</span>
                        <span>Ổ CỨNG SSD 128GB</span>
                    </div>

                    <div class="price">
                        <strong>38,490,000₫</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid__column-2-4 mt-2">
            <div class="card" style="width: 100%;" onclick="window.location='/laptop/dell-xps-13-9310-i5-1135g7-70231343'">
                <a class="product-image">
                    <img src="https://cdn.tgdd.vn/Products/Images/44/232153/dell-xps-13-9310-i5-70231343-161920-091952-600x600.jpg" class="card-img-top product-img" alt="...">
                </a>
                <div class="card-body">
                    <a>
                        <h5 class="card-title product-name">Dell XPS 13 9310 i5 1135G7 (70231343)</h5>
                    </a>

                    <div class="props">
                        <span>RAM 8GB</span>
                        <span>Ổ CỨNG SSD 128GB</span>
                    </div>

                    <div class="price">
                        <strong>41,490,000₫</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid__column-2-4 mt-2">
            <div class="card" style="width: 100%;" onclick="window.location='/laptop/msi-gaming-leopard-10sdk-gl65-i7-10750h-242vn'">
                <a class="product-image">
                    <img src="https://cdn.tgdd.vn/Products/Images/44/225857/msi-gaming-leopard-10sdr-gl65-i7-242vn-225857-600x600.jpg" class="card-img-top product-img" alt="...">
                </a>
                <div class="card-body">
                    <a>
                        <h5 class="card-title product-name">MSI Gaming Leopard 10SDK GL65 i7 10750H (242VN)</h5>
                    </a>

                    <div class="props">
                        <span>RAM 8GB</span>
                        <span>Ổ CỨNG SSD 128GB</span>
                    </div>

                    <div class="price">
                        <strong>32,990,000₫</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-4">
    <div class="row">
        {{#each laptops}}
        <div class="grid__column-2-4 mt-2">
            <div class="card" style="width: 100%;" onclick="window.location='/laptop/{{this.slug}}'">
                <a  class="product-image">
                    <img src="{{this.img}}" class="card-img-top product-img" alt="...">
                </a>
                <div class="card-body">
                    <a>
                        <h5 class="card-title product-name">{{this.laptop_name}}</h5>
                    </a>

                    <div class="props">
                        <span>RAM {{this.ram}}</span>
                        <span>Ổ CỨNG {{this.hard_drive}}</span>
                    </div>

                    <div class="price">
                        <strong>{{this.price}}₫</strong>
                    </div>
{{!-- 
                    <a href="/laptops/{{this.slug}}" class="btn btn-primary btn-product" style = "font-size: 1.2em;">Xem chi tiết</a>
                    <a href="/cart/add/{{this.id}}" class="btn btn-primary btn-cart" style = "font-size: 1.2em;">Add to cart</a> --}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>